@font-face{ font-family: Brandon;
    
    src: url('../fonts/Brandon/Brandon_bld.otf') format('opentype');
    
}

body{
    margin:0;
    padding:0; 
}
    

#nav{
    position:sticky;
    top:0; 
    width: auto;
    background-color:#CFBBAF;
      z-index:1;
}


ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li { 
    float: left;
}

li a { font-family:Brandon;
    
    display: block;
    padding-top:25px;   
    padding-right:14px;
    padding-left:14px; 
    text-decoration: none;
    font-size:25px; 
      
    color: #970303; 
}
#side{ font-family:Brandon;
    
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    border-right: none;
    
   
}

img{
   
    width:70%;
    height:70%;
    padding-left:10px; 
    padding-top:10px;
    padding-right:0px;
    
}

.navLink:hover{
   color:#2D2626; 


} 